<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geomoby.geodeals"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- ****** START: GeoMoby Permissions ******* -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" /><!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /><!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <!-- Note: This custom permission name should begin with your application's package name! -->
    <permission
        android:name="com.geomoby.geodeals.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- These permissions are required to enable the C2DM features of the SDK. -->
    <!-- Note: This custom permission name should begin with your application's package name! -->
    <uses-permission android:name="com.geomoby.geodeals.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- application shows up in Google Play only for devices that have NFC hardware -->
    <!-- uses-feature android:name="android.hardware.nfc" android:required="true" / -->
    <!-- ****** END: GeoMoby Permissions ******* -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/geomoby_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.geomoby.geodeals.splash.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.geomoby.geodeals.MainActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.geomoby.geodeals.DemoService"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        
        <!-- Start the Service if applicable on boot -->
		<receiver android:name="com.geomoby.geodeals.receiver.ServiceStarter">
    		<intent-filter>
        		<action android:name="android.intent.action.BOOT_COMPLETED"/>
    		</intent-filter>
		</receiver>

        <!-- ****** START: GeoMoby Activities ******* -->
        <service android:name="com.geomoby.logic.GeomobyStartService" />
        <service android:name="com.geomoby.logic.GeomobyStopService" />
        <service android:name="com.geomoby.service.GeomobyNotifyService" />
        <service android:name="com.geomoby.service.GeomobyActivityService"/>
        
        <receiver android:name="com.geomoby.service.GeomobyNotifyServiceReceiver" ></receiver>
        <receiver
            android:name="com.geomoby.logic.GeomobyNotificationsReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <!-- This should equal your application's package name! -->
                <category android:name="com.geomoby.geodeals" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.geomoby.geodeals.notification.CustomNotification"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

         <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        
        <!-- ****** END: GeoMoby Activities ******* -->

    </application>

</manifest>